.searchbar-container {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    flex: 1;
    align-items: stretch;
}

.searchbar {
    background: #FFFFFF;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    flex: 1;
    display: flex;
    z-index: 2;
}

.searchbar button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    left: 5px;
    top: 10px;
    z-index: 2;
    height: 8px;
}

.searchbar button img {
    height: 16px;
    position: relative;
    left: 10px;
}

.searchbar input {
    background: rgb(215,215,215);
    background: linear-gradient(180deg, rgba(215,215,215,1) 5%, rgba(255,255,255,1) 13%);
    border-radius: 15px;
    border: none;
    width: 100%;
    text-align: start;
    outline: none;
    padding-left: 25px;
    z-index: 1;
    font-size: 14px;
}
