* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

body {
  background: #DC0A2D;
}

.App {
  height: 100%;
}

/* Navbar */

.navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #DC0A2D;
  justify-content: center;
}

/* Navbar Title Logo */

.navbar img {
  height: 30px;
}

/* Navbar Title */

.navbar h1 {
  color: white;
  margin-left: 10px;
  font-weight: 700;
}

/* Searchbar */

.searchbar-container {
  display: flex;
  margin: -5px 5px -4px 18px;
  padding: 0;
  align-items: center;
  flex: 1;
  align-items: stretch;
  width: 92%;
}

.searchbar {
  background: #FFFFFF;
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  flex: 1;
  display: flex;
  z-index: 2;
}

.searchbar input {
  background: rgb(215,215,215);
  background: linear-gradient(180deg, rgba(215,215,215,1) 5%, rgba(255,255,255,1) 13%);
  border-radius: 15px;
  border: none;
  width: 100%;
  text-align: start;
  outline: none;
  padding-left: 18px;
  z-index: 1;
}

.searchbar button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  left: 5px;
  top: 10px;
  z-index: 2;
  height: 8px;
}

.searchbar button img {
  height: 16px;
  position: relative;
  left: 5px;
}

/* Sort */

.sort-button {
  background: white;
  box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  outline: none;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.sort-button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.1);
}

.sort-button button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  height: 20px;
}

.sort-button button img {
  position: relative;
  left: 11px;
  top: 6px;
  height: 10px;
}

/* Pagination */

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Pokemon List */

.pokedex-grid {
  justify-content: center;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px 10px 30px 10px;
  flex-wrap: wrap;
  background: white;
  margin: 0px 5px;
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* Pokemon Card */

.Link {
  text-decoration: none;
}

.pokemon-card {
  display: flex;
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(239,239,239,1) 50%);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  isolation: isolate;
  width: 120px;
  height: 140px;
  align-items: center;
}

.pokemon-card:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.05);
}

/* Pokemon ID */

.pokemon-id {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 16px;
  color: #666666;
  margin-top: 10px;
}

.pokemon-id p {
  font-size: 12px;
  margin-right: 20px;
}

/* Pokemon Image */

.pokemon-card img {
  width: 80px;
  height: 80px;
}

/* Pokemon Name */

.pokemon-name {
  text-align: center;
  width: 100%;
  height: 20px;
  position: relative;
  bottom: 6px;
}

.pokemon-name p {
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #1D1D1D;
}

.pokemon-name p::first-letter {
  text-transform: uppercase;
}

/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pagination-btn {
  background-color: white;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-btn:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.1);
}

.pagination button img {
  height: 12px;
}

.pagination button #left {
  position: relative;
  right: 2px;
}

.pagination button #right {
  position: relative;
  left: 2px;
}

.pagination-info {
  color: white;
}

/* not-found text */

.not-found-text {
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  color: white;
  height: 37.9rem;
}

.not-found-text p {
  position: relative;
  top: 260px;
}

/* loading */

.loading-page{
  text-align: center;
  height: 36.2rem;
  position: relative;
  width: 100%;
}

/* Loading text */

.loading p {
  color: white;
  text-align: center;
  position: relative;
  bottom: 240px;
}

/* Loading logo */

.item body{
  background-color: #dd2120;
  overflow: hidden;
}

.item{ 
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100px;
  animation: loading 2s infinite;
  width: 120px;
  height: 120px;
}

.ball{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 6px solid #1d1d1b; 
  z-index: 100;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom:0;  
  position: absolute;
}

.half-ball{
  margin: auto;
  left: 0;
  right: 0;
  top: 40px;
  bottom:0;
  z-index: 0;
  position: absolute;
  background-color: white;
  border-radius: 0 0 90px 90px;
  width: 90px;
  height: 50px;
}

.horizon{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;    
  margin-top: auto;
  border-radius: 0px;
  width: 90px;
  height: 14px;
  background-color: #1d1d1b;
  z-index: 3;
}

.big-button{
  z-index: 4;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  border-radius: 50%;
  border: 6px solid #1d1d1b;
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: white;
}

.small-button{
  z-index: 5;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  border-radius: 50%;
  border: 4px solid #1d1d1b;
  position: absolute;
  height: 16px;
  width: 16px; 
  background-color: white;
}

.pokemon-type {
  display: none;
}

/* Pokemon Page */

.PokemonPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #B8B8B8;
}

.PokemonPage-TitleSection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #FFFFFF;
  position: relative;
  top: 30px;
}

.PokemonPage-TitleSection img {
  height: 27px;
  position: relative;
  top: 5px;
}

.PokemonPage-TitleSection img:hover {
  filter: brightness(1.5);
  cursor: pointer;
  transform: scale(1.1);
}

.PokemonPage-TitleSection #TitleName {
  font-size: 22px;
  position: relative;
  font-weight: 700;
  text-align: start;
  text-transform: capitalize;
}

.PokemonPage-TitleSection #TitleID {
  position: relative;
  top: 5px;
  font-weight: 700;
  font-size: 14px;
}

.PokemonPage-ImageSection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.PokemonPage-ImageSection button {
  border: none;
  background: transparent;
  height: 30px;
  width: 30px;
  position: relative;
  top: 50px;
}

.PokemonPage-ImageSection button img {
  height: 30px;
}

.PokemonPage-ImageSection button:hover {
  filter: brightness(1.3);
  cursor: pointer;
  transform: scale(1.1);
}

#ChevronLeft {
  cursor: pointer;
  position: relative;
  left: 15px;
}

#ChevronRight {
  cursor: pointer;
  position: relative;
  right: 15px;
}

.Silouette {
  justify-content: center;
  align-items: center;
  isolation: isolate;
  position: relative;
  top: 50px;
  z-index: 2;
  height: 200px;
}

.Silouette img {
  height: 200px;
}

.Silouette:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.PokemonPage-CardSection {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  margin: 0px 4px 4px 4px;
  border-radius: 10px;
  position: relative;
  isolation: isolate;
}

.Types {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
}

.Type {
  background: #666666;
  border-radius: 15px;
  width: fit-content;
  height: 32px;
  margin: 0 10px;
  text-align: center;
  padding: 0 14px;
  text-transform: capitalize;
}

.Type p {
  color: white;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 700;
}

#About {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  color: #B8B8B8;;
}

.Atributes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.Atribute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.AtributeInfo {
  display: flex;
  text-align: center;
  height: 45px;
  justify-content: center;
}

.AtributeInfo p {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
}

#AtributeName {
  color: #B8B8B8;
  margin-top: 10px;
}

#p {
  margin-top: 10px;
}

.MovesInfo {
  flex-direction: column !important;
}

#PokemonInfo {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 16px;
}

#StatsTitle {
  text-align: center;
  font-weight: 700;
  color: #B8B8B8;
}

.Stats {
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  align-items: flex-start;
}

.Stat {
  font-weight: 700;
  color: #B8B8B8;
  font-size: 14px;
}

/* Media queries */

@keyframes loading {
  0% {transform: translate(0, 0) rotate(0)}
  25% {transform: translate(-8px, 0) rotate(-18deg)}
  33% {transform: translate(8px, 0) rotate(18deg)}
  50% {transform: translate(-8px, 0) rotate(-12deg)}
  60% {transform: translate(8px, 0) rotate(18deg)}
  100% {transform: translate(0, 0) rotate(0)}
}

@media screen and (max-width: 1366px){
  .pagination-container {
    justify-content: center;
  }
  
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .main {
    width: 100%;
  }

  .PokemonPage-ImageSection {
    justify-content: center;
  }

  .PokemonPage-ImageSection button {
    margin: 0 70px;
  }
}

@media screen and (max-width: 508px) {
  .navbar {
    justify-content: flex-start;
  }

  .navbar img {
    margin-left: 15px;
  }
  
  .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .main {
    width: 100%;
  }

  .pokemon-card {
    height: 140px;
    width: 108px;
    justify-content: space-between;
  }

  .pokemon-card img {
    height: 80px;
    width: 80px;
  }

  .pagination-container {
    justify-content: flex-start;
  }

  .PokemonPage {
    font-size: 14px;
  }

  .PokemonPage-TitleSection #TitleName {
    font-size: 26px;
  }

  .PokemonPage #About {
    font-size: 18px;
  }

  .AtributeInfo img {
    height: 20px;
    margin-top: 15px;
  }

  .AtributeInfo {
    justify-content: space-evenly;
  }

  .AtributeInfo #p {
    position: relative;
    top: 7px;
  }

  #PokemonInfo {
    font-size: 14px;
  }

  #StatsTitle {
    font-size: 18px;
  }

  .Atribute {
    width: 70px;
  }

  #AtributeName {
    font-size: 15px;
  }
}
